* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heart-fill-color {
  background-color: #ff2727;
}

.heart {
  position: relative;
  height: 100px;
  width: 100px;
  background-color: #c9c9c9;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 0 0 0 10px;
  transform: rotate(-45deg);
}

.heart::before {
  /*kalbin sol kısmı*/
  position: absolute;
  content: "";
  top: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 50%; /* sol kısım ovalleşti */
}

.heart::after {
  position: absolute;
  content: "";
  top: 0;
  right: -50%;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 50%;
}

.animation-heart {
  /* kalbin orta kısmı renkli oldu*/
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: #ff2727;
  transform: rotate(-45deg);
  border-radius: 0 0 0 10px;
  cursor: pointer;
  visibility: hidden;
}

.animation-heart.animation {
  animation: popup 0.8s linear;
  visibility: visible;
}

.animation-heart::after {
  /* kalbin sol üst kısmını kırmızı yaptık.*/
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: -50%;
  right: 0;
  background: inherit;
  border-radius: 50%;
}

.animation-heart::before {
  /* kalbin sağ üst kısmını kırmızı yaptık.*/
  position: absolute;
  content: ""; /* seçilen elemandan önce sonra içerik eklemek için content kulanılır.*/
  height: 100%;
  width: 100%;
  top: 0;
  right: -50%;
  background: inherit;
  border-radius: 50%;
}

@keyframes popup {
  /* animasyon için yazdık keyframes.*/
  100% {
    transform: scale(1.5) rotate(-45deg);
    opacity: 0;
  }
}
